{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 well"><h4 class="page-title red-bottom-border">Services</h4>
            <p class="col-md-offset-1 col-md-10">Afin d’apporter un service de grande qualité, CIB INGENIERIE fournit à ses clients directs et distributeurs, des solutions de maintenance matériels, des contrats d’assistance téléphonique ainsi que la mise à jour de ses logiciels.</p>
        </div></div>
    </div>
    <div id="container">
    <div class="container" id=>
        <div class="row">
            <div class="col-md-4">
                <div class="padding box">
                    <div class="thumbnail">
                        <div class="logoBox">
                            <div class="logoBoxInner">
                                <i class="fa fa-pencil-square-o"></i>
                            </div>
                        </div>

                        <div class="caption" style="color:#807b76;">
                            <h4 class="dark-text text-center">CONTRAT DE MAINTENANCE</h4>
                            <br>
                            <p class="text-justify">Maintenance matériel et mise à jour logiciel par échange standard sur l’ensemble du territoire national</p>
                            <p class="text-justify">du lundi au jeudi de 9 H00 à 12H30 et de 14H00 à 18H00</p>
                            <p class="text-justify">du vendredi au samedi de 9H00 à 12H30 et de 14H00 à 17H00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="padding box">
                    <div class="thumbnail">
                        <div class="logoBox">
                            <div class="logoBoxInner">
                                <i class="fa fa-question"></i>
                            </div>
                        </div>

                        <div class="caption" style="color:#807b76;">
                            <h4 class="dark-text text-center">CONTRAT D’ASSISTANCE</h4>
                            <br>
                            <p class="text-justify">Maintenance et mise à jour logiciel par échange standard sur l’ensemble du territoire national</p>
                            <p class="text-justify">du lundi au jeudi de 9 H00 à 12H30 et de 14H00 à 18H00</p>
                            <p class="text-justify">du vendredi au samedi de 9H00 à 12H30 et de 14H00 à 17H00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="padding box">
                    <div class="thumbnail">
                        <div class="logoBox">
                            <div class="logoBoxInner">
                                <i class="fa fa-refresh"></i>
                            </div>
                        </div>

                        <div class="caption" style="color:#807b76;">
                            <h4 class="dark-text text-center">MISE A JOUR LOGICIELS</h4>
                            <br>
                            <p class="text-justify">CIB INGENIERIE a mis en place, pour satisfaire ses clients, des solutions de mises à jour logiciel et de téléchargement de programmes par liaison RTC, IP et clé USB.</p>
                            <p class="text-justify">Les sauvegardes de données et le chargement des programmes peuvent aussi se faire au travers de clé USB et carte MMC afin de simplifier au maximum le remplacement des appareils sous contrat SAV.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}