{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <div class="well-sm">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22270.93241334631!2d4.888257828844068!3d45.75382122096069!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c1c8ff51a99b%3A0x7367475f4d9270c6!2sCIB+Ing%C3%A9nierie!5e0!3m2!1sen!2s!4v1405500818720" width="100%" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </section>
        </div>
        <div class="row dark-text">
            <div class="col-md-4 col-sm-4">
                <h3><i>Address:</i></h3>
                <address style="color: #807b76; font-weight: 600;">
                    {#<h4>CIB-Ingenierie</h4>#}
                    <div class="col-sm-1 col-md-1"><span class="glyphicon glyphicon-map-marker" style="margin-right: 10px;"></span></div>
                    <div class="col-sm-10 col-md-11"> <p>7 Rue du 35ème Régiment d’Aviation</p>
                    <p >69500 BRON</p></div>

                </address>
                &NonBreakingSpace;
                <h3><i>Telephone:</i></h3>
                <div class="col-md-12" style="color: #807b76; font-weight: 600;">
                <p><span class="glyphicon glyphicon-earphone faFormat"></span>33(0)4 72 13 59 00</p>
                <p><span class="glyphicon glyphicon-earphone" style="margin-right: 10px;"><sub style="font-size: 10px;">FAX</sub></span>33(0)4 78 54 37 23</p>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <h3><i>Contact form</i></h3>
                <div class="col-md-12" style="background: rgba(255, 0, 0, 0.2); padding: 20px 0px;">
                <form action="{{ path('cibWebsitecibIngenierieBundle_contactpage') }}" method="post" {{ form_enctype(form) }} class="contactForm">
                    {% include 'cibWebsitecibIngenierieBundle:contactPage:contactForm.html.twig' %}
                </form></div>
            </div>
        </div>
    </div>
{% endblock %}