{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h4>Nos objectifes</h4>
            <p class="text-center text-justify">L’objectif étant de rassembler sur un même terminal de paiement, des fonctions complémentaires spécifiques et des applications métiers pour valoriser au maximum les possibilités de ces appareils monétiques.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>who we r </h4>
                    <img src="{{ asset('image/image1.jpg') }}">
                    <p>Fondée en 1992, la société CIB INGENIERIE développe des solutions logicielles innovantes sur terminaux de paiement électronique comme Encaissement, monétique, porte-monnaie électronique, fidélisation, automates.
                    </p>
                    <p>Plusieurs innovations ont permis à CIB INGENIERIE de remporter des prix dans différents salons professionnels comme EQUIPMAG, SIRHA, EQUIP’HOTEL, VAE EXPO, SITEO, etc.</p>
                    <p>CIB INGENIERIE propose également de nombreux matériels dédiés à l'encaissement et au paiement électronique : TPE, caisses enregistreuses, imprimantes de chèques, automates monétique, commande à table...</p>
                </div>
                <div class="col-lg-6">
                    <h4>what we do</h4>
                    <p>Société de services et de conseils informatiques s’est spécialisée dans le développement de programmes sur terminaux cartes bancaires BANKSYS, GEMALTO, INGENICO, SAGEM MONETEL, ...</p>
                    <p>Standard ou spécifiques, ces applications répondent à des besoins variés couvrant de nombreux métiers allant de la restauration au transport, du commerce à la téléphonie.</p>
                    <p>Nos équipes assurent la vente, l’installation et la maintenance de nos produits et logiciels sur l’ensemble du territoire français, les DOM TOM et l’étranger.
                    </p>
                    <p>Depuis de nombreuses années CIB INGENIERIE apporte des solutions packagées ou spécifiques dans l’environnement monétique pour les domaines suivants :</p>
                    <div class="col-sm-8 col-md-6">
                        <ul class="list-unstyled">
                            <li>> ADMINISTRATION</li>
                            <li>> BANQUE</li>
                            <li>> MARKETING</li>
                            <li>> COMMERCES</li>
                            <li>> COMMERCES ITINERANTS</li>
                            <li>> DISTRIBUTION AUTOMATIQUE</li>
                            <li>> PETROLIERS</li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <ul class="list-unstyled">
                            <li>> TELEPHONIE</li>
                            <li>> RESTAURANTS</li>
                            <li>> RESTAURANTS COLLECTIFS</li>
                            <li>> SANTE</li>
                            <li>> TOURISME</li>
                            <li>> TRANSPORTS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}