{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 well"> <h4 class="page-title text-center red-bottom-border">Nos objectifes</h4>
            <p class="text-center col-md-offset-2 col-md-8">L’objectif étant de rassembler sur un même terminal de paiement, des fonctions complémentaires spécifiques et des applications métiers pour valoriser au maximum les possibilités de ces appareils monétiques.</p>
        </div></div>
        <hr>
        {#<div class="container">#}
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 30px;">
                     <h4 class="page-title blackBottomBorder">Qui somme nous </h4>
                   {# <img src="{{ asset('image/image1.jpg') }}">#}
                    <p>Fondée en 1992, la société CIB INGENIERIE développe des solutions logicielles innovantes sur terminaux de paiement électronique comme Encaissement, monétique, porte-monnaie électronique, fidélisation, automates.
                    <br>
                    Plusieurs innovations ont permis à CIB INGENIERIE de remporter des prix dans différents salons professionnels comme EQUIPMAG, SIRHA, EQUIP’HOTEL, VAE EXPO, SITEO, etc.<br>
                    CIB INGENIERIE propose également de nombreux matériels dédiés à l'encaissement et au paiement électronique : TPE, caisses enregistreuses, imprimantes de chèques, automates monétique, commande à table...</p>
                </div>
                <div class="col-md-6">
                    <h4 class=" page-title blackBottomBorder">Qui nous faison</h4>
                    <p>Société de services et de conseils informatiques s’est spécialisée dans le développement de programmes sur terminaux cartes bancaires BANKSYS, GEMALTO, INGENICO, SAGEM MONETEL, ...
                    <br>Standard ou spécifiques, ces applications répondent à des besoins variés couvrant de nombreux métiers allant de la restauration au transport, du commerce à la téléphonie.
                    <br>Nos équipes assurent la vente, l’installation et la maintenance de nos produits et logiciels sur l’ensemble du territoire français, les DOM TOM et l’étranger.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 30px;">
                    <h4 class="page-title blackBottomBorder">Nos Metiers</h4>
                    <ul class="list-unstyled" style="line-height: 40px;">
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Terminaux monétique</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Caisses enregistreuses</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Porte-monnaie électronique</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Carte de fidelite</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Automates monétique</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Ingénierie matériels et logiciel</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Carte</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="page-title blackBottomBorder">Notre expertise dans des domaines</h4>
                    <p>Depuis de nombreuses années CIB INGENIERIE apporte des solutions packagées ou spécifiques dans l’environnement monétique pour les domaines suivants :</p>
                    <div class="col-sm-8 col-md-6">
                        <ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> ADMINISTRATION</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> BANQUE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> MARKETING</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> COMMERCES</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> COMMERCES ITINERANTS</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> DISTRIBUTION AUTOMATIQUE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> PETROLIERS</li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> TELEPHONIE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> RESTAURANTS</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> RESTAURANTS COLLECTIFS</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> SANTE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> TOURISME</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> TRANSPORTS</li>
                        </ul>
                    </div>
                </div>
            </div>
        {#</div>#}
    </div>
{% endblock %}