{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 well"> <h4 class="page-title red-bottom-border">Quel Est Notre Objectif</h4>
            <p class="col-md-offset-2 col-md-8">Utiliser notre compétence en developpement d’applications embarquées sous contraintes (matérielle ou règlementaire) pour optimiser l’activité des points de ventes fixes, mobiles ou éphémères.</p>
        </div></div>
       {# <hr>
        <div class="container">#}
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 30px;">
                     <i class="fa fa-group faiconFormat"></i><h4 class="page-title blackBottomBorder">Qui sommes nous</h4>
                   {# <img src="{{ asset('image/image1.jpg') }}">#}
                    <p>Fondée en 1992, CIB INGENIERIE,  Société de services et de conseils informatiques développe des solutions logicielles innovantes sur terminaux de paiement électronique pour l’encaissement, la monétique, le porte-monnaie électronique, la fidélisation, les bornes et les automates de distribution.</p>
                    <p>Les solutions et innovations de CIB INGENIERIE ont été récompensées par de nombreux prix dans différents salons professionnels comme EQUIPMAG, SIRHA, EQUIP’HOTEL, VAE EXPO, SITEO, etc.</p>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-gears faiconFormat"></i><h4 class="page-title blackBottomBorder">Que faisons-nous ?</h4>
                    <p>Nous utilisons les ressources matérielles et logicielles des terminaux de paiement électronique, sans dénaturer les fonctions bancaires de base, pour répondre à de nombreux  besoins couvrant des secteurs d’activités variés. </p>
                    <p>Dans le cadre de nos offres, nos équipes assurent la vente, l’installation et la maintenance de nos matériels et solutions packagées ou spécifiques.</p>
                    <p>Nos applications sont utilisées en France métropolitaine, dans les DOM TOM et aussi à l’international.</p>
                    <p>Depuis plus de 20 ans, notre expertise, sur l’ensemble de la gamme Ingenico, nous positionne comme référence en applications embarquées sur terminaux de paiement électronique.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 30px;">
                    <i class="fa fa-flash faiconFormat"></i><h4 class="page-title blackBottomBorder">Quels sont nos metiers</h4>
                    <ul class="list-unstyled" style="line-height: 40px;">
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Vente et location de terminaux de paiement électronique</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Personnalisation et vente de support de paiement privatif  </li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Developpement d’applications embarquées</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Developpement d‘applications de gestion</li>
                        <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> Service de maintenance et d’installation</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-graduation-cap faiconFormat"></i><h4 class="page-title blackBottomBorder">Nos secteurs d’activités : </h4>
                    <p>Depuis de nombreuses années CIB INGENIERIE apporte des solutions packagées ou spécifiques dans l’environnement monétique pour les domaines suivants :</p>
                    <div class="col-sm-8 col-md-6">
                        <ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> ADMINISTRATION</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> BANQUE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> MARKETING</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> COMMERCES</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> COMMERCES ITINERANTS</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> DISTRIBUTION AUTOMATIQUE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> DISTRIBUTION PETROLIERS</li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> TELEPHONIE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> RESTAURANTS</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> RESTAURANTS COLLECTIVE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> SANTE</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> TOURISME</li>
                            <li><span class="glyphicon glyphicon-ok-circle glyphiRed"></span> TRANSPORTS</li>
                        </ul>
                    </div>
                </div>
            </div>
        {#</div>#}
    </div>
{% endblock %}